## Get Coordinates

In [13]:
import pandas as pd

### Read table from website

In [14]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
d = pd.read_html(url)
df = d[0]

# Ignore cells with a borough that is not assigned

df_b = df[df['Borough'] != "Not assigned"].reset_index(drop=True)

# If a cell has a borough but a not assigned neighborhood, then the neighborhood will be the same as the borough
df_b.loc[df_b['Neighborhood'] == "Not assigned", ['Neighborhood']] = df_b['Borough']

# Group same postcodes

df_filtered = df_b.groupby(['Postcode','Borough']).Neighborhood.agg([('Neighborhood', ', '.join)]).reset_index()
df_filtered.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### Read location coordinates

In [15]:
coordinates = pd.read_csv('http://cocl.us/Geospatial_data')
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Merge data

#### Merge the two dataframes using PostalCode as the key

In [17]:
df_merged = pd.merge(df_filtered, coordinates, left_on='Postcode', right_on='Postal Code').drop(['Postal Code'], axis = 1)
df_merged.head(5)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Save data as csv

In [18]:
df_merged.to_csv('dataset_with_coordinates.csv', index = False)