# Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import pandas as pd
import numpy as np

### Read tables from website

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
d = pd.read_html(url)
df = d[0]
df.shape

(287, 3)

### Ignore cells with a borough that is not assigned

In [3]:
df_b = df[df['Borough'] != "Not assigned"].reset_index(drop=True)
df_b.head(10)

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A  Downtown Toronto      Queen's Park
6      M9A      Queen's Park      Not assigned
7      M1B       Scarborough             Rouge
8      M1B       Scarborough           Malvern
9      M3B        North York   Don Mills North

### If a cell has a borough but a not assigned neighborhood, then the neighborhood will be the same as the borough

In [6]:
df_b.loc[df_b['Neighborhood'] == "Not assigned", ['Neighborhood']] = df_b['Borough']
df_b.head(10)

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A  Downtown Toronto      Queen's Park
6      M9A      Queen's Park      Queen's Park
7      M1B       Scarborough             Rouge
8      M1B       Scarborough           Malvern
9      M3B        North York   Don Mills North

### Group same postcodes

In [8]:
df_filtered = df_b.groupby(['Postcode','Borough']).Neighborhood.agg([('Neighborhood', ', '.join)]).reset_index()
df_filtered.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### Print the number of rows

In [9]:
df_filtered.shape

(103, 3)